<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,400,300" rel='stylesheet' type='text/css'>
    <script src="/javascripts/ct.js"></script>
</head>
<header>
    <span id="home_title">CourseTackle</span>
</header>
<body>
	<% if (message.length > 0) { %>
		<div> <%= message %> </div>
	<% } %>
<form id="home_signup" action="/signup" method="post">
    username:
		<span id="signup_username">
			<input type="text" name="username" onclick="this.focus();this.select()"/>
		</span>
    password:
		<span id="signup_password">
			<input type="password" name="password" onclick="this.focus();this.select()"/>
		</span>
    first name:
		<span id="signup_firstName">
			<input type="text" name="firstName" onclick="this.focus();this.select()"/>
		</span>
    last name:
		<span id="signup_password">
			<input type="text" name="lastName" onclick="this.focus();this.select()"/>
		</span>
	field of study:
		<span id="signup_field">
			<input type="text" name="field" onclick="this.focus();this.select()"/>
		</span>
    e-mail:
		<span id="signup_email">
			<input type="text" name="email" onclick="this.focus();this.select()"/>
		</span>
		<span id="login_submit">
			<button>Sign up</button>
			<br><Br><br>
		</span>
    <span><a href="/">Log In</a></span>
</div>

</body>

</html>
