<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,400,300" rel='stylesheet' type='text/css'>
</head>

<header>
    <% include partials/header.ejs %>
</header>

<body>

</body>

<footer>
    <% include partials/footer.ejs %>
</footer>
</html>
