<html>
<head>
	<meta charset="utf-8">
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300' rel='stylesheet' type='text/css'>
	<script src="/javascripts/ct.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>CourseTackle</title>
</head>
<header>
	<!--<div id="navigation">
		<span id="title" width="10%">
			CourseTackle
		</span>
		<span class="links">
			<button onclick="home()">home</button>
		</span>
		<span class="links">
			<button onclick="profile()">profile</button>
		</span>
		<span class="links">
			<button onclick="courses()">courses</button>
		</span>
		<span class="search">
			<textarea id="search_bar" onclick="this.focus();this.select()">search...</textarea>
		</span>
		<span class="links">
			<a href="/">
			<button>sign out</button></a>
		</span>
	</div> -->
    <% include partials/header.ejs %>
</header>
<body>
	<div id="left_panel" class="main" onload="setup_profile()">
		<span id="display_pic">
			<input type="file" onchange="previewFile()"><br>
			<img src="/images/default.jpg" id="dp">
		</span>
		<span id="username_display">default</span>
		<span id="name_display">default</span>
		<span id="email_display">default</span>
		<span id="feild_display">default</span>
		<span id="friends">friends:</span>
	</div>
	<div id="news_feed" class="main">
		<h4>news</h4>
		<span class="news post">
			<table>
				<tr>
					<td class="news_content">
						news
					</td>
					<td class="rating">
						4
					</td>
				</tr>
			</table>
		</span>
		<span class="news post">
			<table>
				<tr>
					<td class="news_content">
						news
					</td>
					<td class="rating">
						3
					</td>
				</tr>
			</table>
		</span>
		<span class="news post">
			<table>
				<tr>
					<td class="news_content">
						news
					</td>
					<td class="rating">
						1
					</td>
				</tr>
			</table>
		</span>
	</div>
	<div id="wall" class="main">
		<h4>wall</h4>
		<input type="text" value="say something here..." id="wall_entry" onclick="this.focus();this.select()"/>
		<button id="wall_submit">Submit</button>
		<span class="wall_post post">
			user comments
		</span><span class="wall_post post">
			user comments
		</span>
	</div>
	<div id="courses" class="main">
		<h4>courses</h4>
		<span id="taken" class="post">
			<text id="add_course_taken" class="add">+</text>
			courses you've taken
		</span><span id="to_take" class="post">
			<text id="add_course_to_take" class="add">+</text>
			courses you will take
		</span>
	</div>
</body>

<footer>
    <% include partials/footer.ejs %>
</footer>
</html>