<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,400,300" rel='stylesheet' type='text/css'>
    <script src="/javascripts/ct.js"></script>
</head>
<header>
    <span id="home_title">CourseTackle</span>
</header>
<body>
	<% if (message.length > 0) { %>
		<div> <%= message %> </div>
	<% } %>
<form id="home_signup" action="/signup" method="post">
    username:
		<span id="signup_username" name="username">
			<textarea onclick="this.focus();this.select()"></textarea>
		</span>
    password:
		<span id="signup_password" name="password">
			<textarea onclick="this.focus();this.select()"></textarea>
		</span>
    first name:
		<span id="signup_password" name="firstName">
			<textarea onclick="this.focus();this.select()"></textarea>
		</span>
    last name:
		<span id="signup_password" name="lastName">
			<textarea onclick="this.focus();this.select()"></textarea>
		</span>
    e-mail:
		<span id="signup_password" name="email">
			<textarea onclick="this.focus();this.select()"></textarea>
		</span>
		<span id="login_submit">
			<button>Sign up</button>
			<br><Br><br>
		</span>
    <span><a href="/">Already have an account</a></span>
</div>

</body>

</html>
