html, body, h1, h4, button, table, textarea, span{
	margin:0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	color:white;
	font-weight: 100;
}
body{
	background: #2A4046;
	color:black;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;
	text-align: center;
}
#navigation{
	text-align: left;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #1A2A2F;
	padding-left: 5%;
	padding-right: 5%;
}
#navigation img{
	margin-left:5%;
	background: #1A2A2F;
	border-radius: 100px;
	padding: 1%;
}
#navigation button{
	color:black;
	background: #2E3F45;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;
	border: none;
}
#navigation button:hover{
	color: #FFA300;
	cursor: pointer;
}
.links{
	padding: 3%;
}
#title{
	color: #FFA300;
	text-align: left;
	font-size: 4vw;
	font-weight: 300;
}
a:link{
	color:black;
	text-decoration: none;
}
a:visited{
	color:black;
	text-decoration: none;
}
a:hover{
	color:#FFA300;
	text-decoration: none;
}
#search_bar{
	background: white;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #BEB5B3;
	width: 35%;
	height: 2.8vw;
	font-size: 2vw;
	overflow: hidden;
	border: none;
}
.main{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-top:5%;
	text-align: left;
}
#left_panel{
	width: 30%;
	margin-left:1%;
	text-align: center;
	font-weight: 300;
	color: #FFA300;
}
#username_display{
	font-size: 2.5vw;
	color: white;
}
#left_panel span{
	display: block;
}
#display_pic img{
	border-radius: 100%;
	width: 20vw;
	height: 20vw;
}
#news_feed{
	width: 65%;
}
.post{
	background: #1A2A2F;
	width: 90%;
	height: 20%;
	display: block;
	margin: 2%;
	border-radius: 10px;
}
.news table{
	width: 100%;
}
.rating{
	width: 5%;
	font-size: 80px;
	font-weight:100;
	color: #FFA300;
}
#wall{
	width: 65%;
	display: none;
}
#courses{
	width: 65%;
	display: none;
}
#wall_entry{
	background: none;
	border: none;
	border-bottom: 1px solid black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	color: black;
	height: 2.5vw;
	width: 75%;
	margin:2%;
}
#wall_submit{
	background: #1A2E2F;
	padding: 0.5%;
	font-weight: 100;
	font-size: 1.5vw;
	border: none;
	color:white;
	width: 10%;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
}
#wall_submit:hover{
	background: #FFA300;
}
.add{
	color:#FFA300;
	font-size: 7vw;
	padding:0;
	margin: 0;	
	float:right;
}
.add:hover{
	color:black;
	cursor: pointer;
}