<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,400,300" rel='stylesheet' type='text/css'>
</head>
<header>
<div id="navigation">
		<span id="title" width="10%">
			CourseTackle
		</span>
		<span class="links">
			<a href="/newsfeed">Newsfeed</a>
		</span>
		<span class="links">
			<a href="/profile">Profile</a>
		</span>
		<span class="links">
			<a href="/course">Course</a>
		</span>
		<span class="search">
			<textarea id="search_bar" onclick="this.focus();this.select()">search...</textarea>
		</span>
</div>
</header>
</html>